[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/closetag.vim"]
	path = bundle/closetag.vim
	url = https://github.com/docunext/closetag.vim.git
	ignore = dirty
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = dirty
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/vim-tmux-runner"]
	path = bundle/vim-tmux-runner
	url = https://github.com/christoomey/vim-tmux-runner.git
[submodule "bundle/vim-commentout"]
	path = bundle/vim-commentout
	url = git@github.com:sirjofri/vim-commentout.git
[submodule "bundle/vim-biblereader"]
	path = bundle/vim-biblereader
	url = git@github.com:sirjofri/vim-biblereader.git
